body{
  background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
}

.container {
  color: #fcbd37;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 20px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

button {
  color: yellow;
  width: 100%;
  padding: 10px;
  background-color: #F17228;
  color: white;
  border: none;
}

#mainn{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

a{
  max-width: 200px;
  padding: 15px 30px;
    color: white;
    background-color: #F17228;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  text-decoration: none;
}